*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 105%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
}
form{
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
    padding: 20px 25px;
    box-shadow: 0 5px 10px rgba(71, 3, 6, 0.7);
}

form .title{
    text-align: center;
    color: #252525;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
}
form label{
    margin-bottom: 35px;
}

form label .fa-solid{
    font-size: 20px;
    color: #cb232c;
    margin-right: 10px;
}
form label input{
    outline: none;
    border: none;
    background: linear-gradient(rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0));
    color: #252525;
    border-bottom: solid 1px #ce1d61;
    
    padding: 0 5px;
    font-size: 18px;
}
form label input::placeholder{
    color: rgba(37, 37, 37, 0.5);
}

form .link{
    text-align: center;
    color: #252525;
    margin-bottom: 15px;
}

form button{
    color: #fff;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #cb232c, #ce1d61);
    padding: 10px 15px;
    font-size: 20px;
    transition: all 0.5s;
    cursor: pointer;
}
form button:hover{
    background: linear-gradient(to right, #ce1d61, #cb232c);
}