*{
    font-family: 'Arial';
}
body {
    margin: 0;
    overflow: hidden;
}
.tittle{
    margin: auto;
    color: white;
    font-size: 30px;
    line-height: 40px;
    position: absolute;
    top: 33%;
    left: 23%;
    display: table;
}

@keyframes maquina{
    from{
        width: 100%;
    }
    to{
        width: 0;
    }
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 105%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
}

.container_btn{
    position: absolute;
    top: 46%;
    left: 45%;
}
.btn_interfaz{
    background: linear-gradient(to right, #cb232c, #ce1d61);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0px;
    transition: all 0.5s;
}
.btn_interfaz:hover{
    background: linear-gradient(to right, #ce1d61, #cb232c);
}
a{
    text-decoration: none;
    color: white;
}
